.formu{
    display: flex;
    flex-direction: column;
}
html{
    margin: 2rem 2rem;
}

h5{
    background-color: #865d5d;
    padding: 1rem;
    font-weight: bold;
    color: #f1f1f1;
    text-align: center;
}
.error{
    display: none;
    font-weight: bold;
    color:#801a1a;
}